*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #000000;
    color:#ffffff;
    
    font-size: 16px;
    font-family: 'Cinzel', serif;
}
h2{
color: #000000;
}

a{
    color: #ffffff;
    text-decoration: none;
}
p{
    background-color: #08021173;
}

ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
}
/* ESTILOS PARA EL NAVEGADOR*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand{
    width: 50px;
}
/*NAVEGACION IZQUIERDA*/
.nav-main ul{
    display: flex;
}
.nav-main ul li{
    padding: 10px;
}
.nav-main ul li a{
    padding: 6px;
}
.nav-main ul li a:hover{
    border-bottom: 2px solid white;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

.nav-main ul.nav-menu-right{
    margin-right: 40px;
}
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}

/*ESTILOS DE PORTADA*/

hr{
    margin: 10px 0;
}
.showcase{
    width: 100%;
    height: 550px;
    background: url("/img/portada.jpeg") no-repeat;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.637);
    color: white;
    font-size: 15px;
    border : 2 px solid white;
    border-radius: 7px;
    margin: 10px 0;
}

/* CARTAS - CUERTO DE LA PAGINA*/
.news-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    margin: 10px 0;
}
.news-cards img{
    width: 75%;
    height: 300px;
}
.news-cards h3{
    font-size: 20px;
    margin: 10px 0;
}
.news-cards a{
    padding: 10px 0;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover{
    text-decoration: underline;
}   

.banner{
    width: 100%;
    height: 490px;
    background: url(/img/portadefi.jpeg) no-repeat center ;
    margin-bottom: 40px;
    
}
.banner h2{
    color: white;
    background-color: rgba(0, 0, 0, 0.575);
    
}
.banner .content{
    width: 40%;
    padding: 260px 0 0 30px;
    
}


/*social*/
.social{
    margin: 50px;
}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a{
    margin: 0 30px;
}

.links a i{
    font-size: 3rem;
}



/*FORMULARIO*/

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #f0e7e7;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #e6e1de;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #cac5c3;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #c4c0be;
	color: #cec9c6;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #94908e;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #a7a3a2;
  color: #a5a09e;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}


@media (max-width: 700px) {

    .menu-btn{
        display: block;
    }

    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 30px;
        opacity: .9;
        background-color: #000000a4;
        transform: translate(-400px);
        transition: transform .5s ease-in-out;

    }
    .nav-main ul.nav-menu.show{
        transform: translate(-20px);
    }
    .news-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}